 *{
	 margin: 0;
	 padding: 0;
	 font-family: sans-serif;
 }
.hero{
	height:100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4),url(background.png));
    background-position: center;
	background-size: cover;
	position: absolute;
	

}
.nav a{
	color: rgb(255, 255, 255);
	
	
}

.site-navigation ul,   
  .site-navigation li {  

   
   margin: 0;   
   padding: 10;  
  }  
  .site-navigation li {  
   display: inline-block;  
   
   margin: 1.4em 1em 1em 1em;  
  }  
  .header {   
	
	padding: .5em 1em;  
	display: flex;  
	justify-content: space-between; 
	background: rgb(0, 0, 0);

   }  
  
  .logo {   
	border-bottom: 1px solid #ccc;  
	padding: .5em 1em;  
	display: flex;  
	justify-content: space-between;  
   }  
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
	border-radius: 20px;
}
.button_box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #6161611f;
	border-radius: 30px;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	



}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #0086c4, #b3f0ff);
	border-radius: 30px;
	transition: .2s;
	
}
.social-icons{
	margin: 30px auto;
	text-align: center;

	 

}
.social-icons img{
	width: 30px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
	border-radius: 10%;
		 

}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .2s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
	
}
.submit-btn{
	width: 50%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #0086c4, #b3f0ff);
	border: 0;
	outline: none;
	border-radius: 30px;

}
.check-box{
	margin: 30px 10px 30px 0;


}
 span{
	 color: #777;
	 font-size: 12px;
	 bottom: 68px;
	 position: absolute;


 }
 .Footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: center;
	padding: 30px;
  }
 #login{
	 left:50px;

 }
 #register{
	left:450px;
	
}
a {  
	text-decoration: none;  
	color: #000;  
   }  
   a:hover{  
	 color: rgb(179, 179, 179);  
   }  
/* *{
	background-color: violet;
}
a[href="https://www.google.com"]{
	
  display: block;
  background-color: skyblue;
  font-size: larger;
  padding: 50px;
  margin: 500, 500, 500, 500;
}


a:link{color:tomato;}
a:hover{color:green;}
a:visited{color:sienna;} */

/* *{
	background-color: red;
} */
/* #id1{
	
} */

/* #id2{
	background-color:green;
	
} */
